body{
    letter-spacing: .1rem;
    background: #046865;
}
h1 {
    margin: 0;
    font-size: 2.4rem;
}
.back {
    width: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 2.6rem;
    margin: 1rem 0;
    color: #fff7ae;
    letter-spacing: .2rem
}

/*Home and Home Card*/
#hcContainer {
    max-width: 37.5rem;
    height: 15rem;
    border: .1rem solid #000000;
    margin: 0 auto 1rem auto;
    box-shadow: inset 0px -3px 20px 10px #000;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hcContainer:nth-of-type(2){
    background: url("images/search_image.png") center no-repeat;
    object-fit: cover;
    background-size: 37.5rem;
    margin-top: 2rem
}
#hcContainer:nth-of-type(3){
    background: url("images/deck_image.png") center no-repeat;
    object-fit: cover;
    background-size: 37.5rem
}
#hcContainer:nth-of-type(4){
    background: url("images/forum_image.png") center no-repeat;
    object-fit: cover;
    background-size: 37.5rem
}
#overlay {
    background: linear-gradient(#b47ab8 0%, #fff 7%, #9a569f 20%, #48284a 85%);
    opacity: .4;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -10px 40px 10px #000;
    border-radius: 1rem;
}

/*Search*/
#searchContainer {
    max-width: 37.5rem;
    height: 100%;
    margin: 0 auto;
}
#searchContainer input{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 .5rem .2rem #48284a;
}
.button {
    width: 30rem;
    height: 7rem;
    border-radius: 1rem;
    border: .1rem solid #48284a;
    background: #ACD7EC;
    display: block;
    margin: 4rem auto 0 auto;
    box-shadow: 0 .2rem .8rem .2rem #48284a;
    text-transform: uppercase;
    font-family: "Yanone Kaffeesatz", cursive;
    font-size: 2.4rem;
    letter-spacing: .1rem;
    font-weight: 500
}

/*Results*/
#resultDiv{
    max-width: 37.5rem;
    margin: 0 auto;
}

/*Card*/
#cardContainer {
    max-width: 37.5rem;
    margin: 0 auto;
}
#tabs {
    max-width: 37.5rem;
    height: 4rem;
    background: #ACD7EC;
    color: #48284a;
    display: flex;
    flex-direction: row;
}
#tabItem {
    list-style: none;
    font-size: 1.8rem;
    margin: 0
}
#tabContainer{
    width: 18.75rem;
    height: 4rem;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active {
    background: #fff7ae
}

/*Deck*/
#deckContainer {
    max-width: 37.5rem;
    margin: 0 auto;
}
#deckCardContainer {
    max-width: 36rem;
    height: 8.5rem;
    border: .1rem solid #48284a;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem auto;
    background: #fffDEB;
    color: #48284a;
    box-shadow: inset 0 0 1rem .2rem #48284a;

}

/*User Deck*/
#UDContainer {
    max-width: 37.5rem;
    margin: 0 auto;
}
#UDCardContainer {
    max-width: 36rem;
    height: 8rem;
    border: .1rem solid #000;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem auto;
    background: #fffDEB;
    color: #48284a;
    box-shadow: inset 0 0 1rem .2rem #48284a;
}

/*Forum*/
#forumDiv {
    max-width: 37.5rem;
    margin: 0 auto
}
#topicCardContainer {
    max-width: 36rem;
    height: 8rem;
    border: .1rem solid #48284a;
    border-radius: 1rem;
    margin: .5rem auto;
    background: #fffDEB;
    color: #48284a;
}

/*Topic*/
#topicContainer {
    max-width: 37.5rem;
    margin: 0 auto
}
#postCardContainer {
    max-width: 36rem;
    margin: 1rem auto;
    border: .1rem solid #000;
    border-radius: 1rem;
    background: #fffDEB;
    color: #48284a;
    box-shadow: 0 0 .5rem .1rem #48284a;
}

/*Heading*/
#headingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 37.5rem;
    margin: 1rem auto;
    align-items: center;
}

/*Media Queries*/
@media(min-width: 600px) {
    #hcContainer, #overlay, #searchContainer, #resultDiv, #cardContainer {
        max-width: 50rem;
        height: 16rem
    }
    #hcContainer:nth-of-type(2), #hcContainer:nth-of-type(3), #hcContainer:nth-of-type(4) {
        background-size: 50rem;
    }
    #tabs, #deckContainer, #UDContainer, #topicContainer, #headingContainer {
        max-width: 50rem;
    }
    #tabContainer {
        width: 25rem;
    }
    #deckCardContainer, #UDCardContainer, #forumDiv, #postCardContainer {
        max-width: 45rem;
    }

}
@media(min-width: 800px){
    #hcContainer, #overlay {
        max-width: 70rem;
        height: 18rem
    }
    #hcContainer:nth-of-type(2), #hcContainer:nth-of-type(3), #hcContainer:nth-of-type(4){
        background-size: 70rem
    }
}
@media(min-width: 1000px){
    #searchContainer, #resultDiv, #deckContainer, #UDContainer, #forumDiv, #headingContainer {
        max-width: 80rem;
    }
    #deckCardContainer, #UDCardContainer, #topicCardContainer,#topicContainer {
        max-width: 60rem;
    }
}
@media(min-width: 1100px){
    #hcContainer, #overlay{
        max-width: 80rem;
        height: 20rem
    }
    #hcContainer:nth-of-type(1), #hcContainer:nth-of-type(2), #hcContainer:nth-of-type(3){
        background-size: 80rem
    }
}

